.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background-color: #4791D2;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.row {
  margin-top: 80px;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}
.progress {
  margin-top: 20px;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

h2 {
  margin-top: 15px;
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#input-upload {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}

#area-download {
  display: none;
}

#span-total-arquivos,
#span-espaco,
#span-percentagem {
  display: block;
}

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  width: 25%;
  background-color: #ffe;
  margin: 10px;
  padding: 10px;
}

.config-group {
  clear: both;
}

.config-desc {
  float:left;
}

.radio, .checkbox {
    float: left;
    margin: 3px;
    clear: both;
}

h3 {
  margin-top: 5px;
}
